.page {
    color: var(--main-txt-cl);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

.container {

    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $mobile) {
        width: 480px;
    }
    
    @media screen and (min-width: $tablet) {
        width: 768px;
    }
    
    @media screen and (min-width: $desktop) {
        width: 1200px;
    }
    
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

@mixin centerFlex() {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
@mixin centerAbsolute($top: 50%, $left: 50%, $transX: -50%, $transY: -50%) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate($transX, $transY);
}
  
@mixin centerAbsolute_R($top: 50%, $left: 50%, $transX: -50%, $transY: -50%) {
    position: relative;
    top: $top;
    left: $left;
    transform: translate($transX, $transY);
}
  
@mixin flexBasis($col_count, $gap) {
    flex-basis: calc((100% - ($col_count - 1) * $gap) / $col_count);
}
  
@mixin responsiveFont($screen_width, $font_size) {
    font-size: calc($font_size * 100vw / $screen_width);
}
  
@mixin responsiveCustomFont($screen_width, $font_size, $rate) {
    font-size: calc(
      calc(1 - $rate) * $font_size + calc($rate * calc($font_size * 100vw / $screen_width))
    );
}