h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    padding: 0;
    margin: 0;

    list-style: none;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: currentColor;
}

label,
input {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}