.hero {
    background-color: var(--dark-background-cl);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__background {
    margin: 0 auto;
    max-width: 1600px;
    padding-top: 100px;
    padding-bottom: 100px;
    @media screen and (min-width: $desktop) {
      padding-top: 200px;
      padding-bottom: 200px;
    }
}

.hero__title {
    font-family: "Roboto";
    font-style: normal;

    margin-left: auto;
    margin-right: auto;

    max-width: 608px;

    font-weight: 900;
    font-size: 26px;
    line-height: 42 / 26;
    color: var(--light-txt-cl);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: 60 / 44;
    }
}

.hero__button {
    margin-top: 30px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    @media screen and (min-width: $desktop) {
      padding-left: 32px;
      padding-right: 32px;
    }

    min-width: 216px;
    min-height: 50px;

    font-family: 'Roboto', sans-serif;
    /* -- не неслідується від body */
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--light-txt-cl);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    background-color: var(--accent-txt-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    cursor: pointer;
}